*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{list-style-type: none;}
section{
    height:440px;
    padding-top:38px;
}
box{
    width: 1020px;
    margin: 0 auto;
}
.item{
    width: 320px;
    height: 360px;
    float: left;
    margin-right: 20px;
    border: solid 1px #cccccc;
}
.item h3{
    padding:15px;
    text-align:center;
}
.item p{
    line-height:150%;
    text-align: center;
}

.item img{
    display:block;
}